/*TrcBar 样式*/
/*top right bottom left*/


QPushButton {
    border: none;
    border-radius: 0px;
    margin: 0px 0px 18px 0px;
    padding: 6px 9px;
    background-color: #F1F1F1;
    /*
    min-width: 38px;
    max-width: 38px;
    min-height: 24px;
    max-height: 24px;*/
}


QPushButton:pressed {
    background-color: #DBDBDB;
}
QPushButton:hover {
    /*
    background-color: #E5E5E5;*/
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #F1F1F1);
}

QPushButton#btnClose:hover {
    background-color: #E81123;
}
QPushButton#btnClose:pressed {
    background-color: #DE1021;
}

